.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ChatBox.css */
.chat-box {
  position: absolute;
  bottom: 48px;
  left: 48px;
  width: 400px;
  height: 200px;
  background-color: var(--color-base-black-transparent);
  /* Replace with your color */
  color: var(--color-base-white);
  /* Replace with your color */
  z-index: 50;
  font-size: 14px;
  word-wrap: break-word;
}

.chat-container {
  width: 400px;
  height: 200px;
  word-wrap: break-word;
  overflow-y: auto;
}

/* Add the rest of your styles */

/* .form, #chat-message-button, .message-input-wrapper, etc. */